$skin-light: #ffcc8a
$skin-dark: #eca548
$skin-gradient: linear-gradient(90deg, $skin-light, $skin-dark)
$hair: #ae6338
$hair-dark: #7C4526
$black: #1F1F1F
$white: #FFFFFF
$pink: #EA6363
$violet: #403A55